@font-face {
    font-family: 'Inter';
    src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2') format('woff2'),
         url('https://rsms.me/inter/font-files/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #FFEF64;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

}

.navbar {
    background-color: #F478FF !important;
    border-radius: 50px;
    border: 5px solid black;
}

.searchbar{
    border-radius: 50px;
    border: 5px solid black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

h1 {
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.2em;
    text-shadow: 6px 6px 0px #000000;
  }

h3 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.2em;
  text-shadow: 6px 6px 0px #000000;
}

.text-box {
  border: 5px solid black;
}

.button {
    border: 5px solid black;
    border-radius: 50px;
    background-color: #F478FF;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #f159ff;
    color: black;
}

img {
    width: 25%;
    height: auto;
  }

.data-panel {
  background-color: #F478FF;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.data-panel2 {
  background-color: #F478FF;
  border: 5px solid black;
  border-radius: 10px;
  /* padding: 20px; */
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

  .data-panel2 {
    padding: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .data-panel4 {
    background-color: #F478FF;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .data-panel2 {
      padding: 10px;
    }
  }

  .data-panel:hover {
    background-color: #f58bff;
    border: 5px solid black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    position: relative;

  }

.review-box {
    width: 100%;
}

.rating {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-spacing: 0 10px;
}

th, td {
    border: 5px solid #000000;
    padding: 12px;
    text-align: left;

}

th {
    background-color: #F478FF;
    color: white;
}

tr:nth-child(odd) {
    background-color: #F478FF;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

.jukebox {
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 0px;
    position:relative;
    background-color: #F478FF;
    max-width: 30%; 
    height: auto; 
    width: 30%;

}



.jukebox:hover {
  cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.left-div, .right-div {
    display: inline-block;
  }
  
  .left-div {
    background-color: #F478FF;
    width: auto;
    flex: 1;
  }

  .add-album-container {
    display: flex;
    align-items: center; 
  }


  .search-container {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
  }

.spanning-button {
  width: 100%;
}


.container {
  display: flex;
  align-items: flex-start;
}

.button {
  margin-bottom: 10px;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width:180%;
  margin-bottom: 83px;
  margin-left: 50px;
  
}
.vertical:hover {
  cursor: default;
  
}

.data-panel3 {
  background-color: #F478FF;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
  margin-left: 50px;
  padding-bottom: 70px;
  width: 100%;
}

.select-field {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.heading-centre{
  text-align: center;
}
