{% extends "base.html" %}
{% block content %}

<div>
<h1 class="px-3">Albums</h1>
<p class="px-3"> Here you can view all the albums in our database.
</p>

<div class="search-container">
  <input type="text" id="album-search"class="form-control searchbar" placeholder="Search...">
</div> 


<div class="add-album-container">
  <input class="button spanning-button" type="button" value="Add Album" onclick="addAlbum()">
</div>

<div>
  <table id="albums-table">
    <tr>
      <th>ID</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Genre</th>
    </tr>
    {% for album in albums %}
    <tr>
      <td>{{album.id}}</td>
      <td class="album-title">{{album.title}}</td>
      <td>{{album.artist}}</td>
      <td>{{album.genre}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
</div>

{% endblock %}