{% extends "base.html" %}
{% block content %}

<h1 class="px-3">Explore</h1>
<p class="px-3"> Here you can explore. You can search for songs, artists, albums, and playlists
</p>

<div class="search-container">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control searchbar" placeholder="Search">
      </div>
    </form>
</div> 

<div class="data-panel">
  <h3> Ants From Up There </h3>
  <p>Ants From Up There is UK-based Black Country, New Road’s second studio album,
    released February 4th, 2022 by Ninja Tune.

    Announced on October 12th in tandem with the
    release of lead single “Chaos Space Marine”, the band
    described the album as “sad, epic and possibly more
    universally likeable… possibly” in an interview with NME.
    A press release described the album as “[traversing] 
    classical minimalism, indie-folk, pop, alt rock and 
    a distinct tone that is already unique to the band”.</p>
</div>

{% endblock %}