{% extends "base.html" %}
{% block content %}

<h1 class="px-3">Explore</h1>
<p class="px-3"> Here you can explore. You can search for songs, artists, albums, and playlists
</p>

{% for review in explore %}
<div class="data-panel" onclick="viewReview('{{review.id}}')">
  <div> 
    <h3>{{review.title}} by {{review.username}}</h3>
    <p class ="rating">{{review.rating}}/5</p>
    <!-- <button class="button" type="button" value="Delete" onclick="editReview()"></button>   -->
  </div>
  <p> Album: {{review.album}}</p>
  <p> By {{review.artist}}</p>
  <p> {{review.review}} </p>

</div>
</div>

{% endfor %}
{% endblock %}