{% extends "base.html" %}
{% block content %}

<h1 class="px-3">New Review</h1>
<p class="px-3"> Here you can create a new review.
</p>

<form action="" class="" name="reviewForm" method="post">
    {{ form.hidden_tag() }}
    <div class = data-panel2>
        <div class="form-group">
            <h3>Album</h3>
            <p> {{form.album(id="album-select")}} </p>
        </div>
    </div>
    
    <div class="data-panel2">
        <div class="form-group">
            <h3>Title</h3>
            <p> {{form.title}} </p>
        </div>
    </div>
    
    <div class="data-panel2">
        <div class="form-group">
            <h3>Review</h3>
            <p> {{form.review}}</p>
        </div>
    </div>
   
    <div class="data-panel2 ">
        <div class="form-group">
            <h3>Rating</h3>
            <p class="select-field"> {{form.rating}}</p>
        </div>
    </div>

    <input class="button spanning-button" type="submit" value="Submit">

</form>



{% endblock %}