{% extends "base.html" %}
{% block content %}

<h1 class="px-3">Register</h1>

<form action="" class="px-3" name="registerForm" method="post">
    {{ form.hidden_tag() }}
    <div class="data-panel2">
        <h3>Email</h3>
        <p> {{form.email}} </p>
    </div>
   

    <div class="data-panel2">
        <h3>Username</h3>
        <p> {{form.username}} </p>    
    </div>
    
    <div class="data-panel2">
        <h3>Password</h3>
        <p> {{form.password}}</p>   
    </div>
    
    <div class="data-panel2">
        <h3>Confirm Password</h3>
        <p> {{form.passwordConfirm}}</p>   
    </div>

    <input class="button spanning-button" type="submit" value="Submit">

</form>


{% endblock %}