{% extends "base.html" %}
{% block content %}

<h1 class="px-3">Reviews</h1>
<p class="px-3"> Here you can see your reviews.
</p>

<input class="button spanning-button" type="button" value="New Review" onclick="newReview()">


{% for review in reviews %}
<div class="data-panel" onclick="viewReview('{{review.id}}')">
  <div> 
    <h3>{{review.title}} by {{review.username}}</h3>
    <p class ="rating">{{review.rating}}/5</p>
  </div>
  <p> Album: {{review.album}}</p>
  <p> By {{review.artist}}</p>
  <p> {{review.review}} </p>

</div>
</div>

{% endfor %}

{% endblock %}